<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login_reg.css' %}">
</head>
<body>
    <div id="container">
        <div id="reg_container">
            <!-- route form to registration -->
            <form action="/register" method='post'>
                {% csrf_token %}

                <h1>Registration</h1>

                <div class="text_row">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" id="first_name">
                </div>

                <div class="text_row">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" id="last_name">
                </div>

                <div class="text_row">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email">
                </div>

                <div class="text_row">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>

                <div class="text_row">
                    <label for="pw_confirm">Confirm Password</label>
                    <input type="password" name="pw_confirm" id="pw_confirm">
                </div>

                <div class="sub_btn">
                    <button type='submit'>Register</button>
                </div>
            </form>
            {% if messages %}
            <ul>Error(s):
                {% for message in messages %}
                <li {% if message.tags %} class='{{ message.tags }}'{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div id="login_container">
            <!-- route form to login -->
            <form action="/login" method='post'>
                {% csrf_token %}

                <h1>Login</h1>

                <div class="text_row">
                    <label for="login_email">Email</label>
                    <input type="text" name="login_email" id='login_email'>
                </div>

                <div class="text_row">
                    <label for="login_pw">Password</label>
                    <input type="password" name="login_pw" id="login_pw">
                </div>

                <div class="sub_btn">
                    <button type='submit'>Login</button>
                </div>
            </form>
        </div>
          
    </div>
</body>
</html>